@import "mixins/bourbon/bourbon"; // adding bourbon lib
@import "mixins/neat/neat"; // adding neat grid cos bootstrap sucks
@import "base/neat-grid-settings";

@import 'mixins/typography';
@import 'mixins/map-deep-get';
@import 'mixins/media';
@import 'mixins/fluid-image-container';
@import 'mixins/center-crop-absolute';
@import 'mixins/vertical-align';
@import 'mixins/page-settings';

@import 'base/colours';
@import 'base/variables';
@import 'base/typography';
@import 'base/placeholders';
@import 'base/utils';
@import 'base/layout';
@import 'base/rtc';

@import 'globals/nav';
@import 'globals/link';

/* components */

@import 'components/carousel';

@import 'components/header';
@import 'components/textblock';
@import 'components/thumbnail';

@import 'components/video';

@import 'components/work-info';
@import 'components/work-listing';



body {
	overflow-x: hidden;
	font-size: 16px;
	color: $copy;
	margin: 0;
}