.work-info {}

.work-info__intro {
  @include mq(from, medium) {
     @include span-columns(4);
  }

	@include mq(from, large) {
     @include span-columns(3);
  }
}

.work-info__copy {
  @include mq(from, medium) {
    font-size: 12px;
    margin-top: 1em;

    column-count: 2;
    column-gap: 20px;

    p {
        margin-top: 0;
    }
  }

	@include mq(from, large) {
    column-count: 4;
    column-gap: 20px;
  }
}